<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.post.a11y-is-web-accessibility.title}} | {{content.site.title}}</title>
{{>meta/description/description pageDescription=content.post.a11y-is-web-accessibility.desc}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter socialMediaTitle=content.post.a11y-is-web-accessibility.title socialMediaDescription=content.post.a11y-is-web-accessibility.desc}}
{{>meta/social-media/facebook socialMediaTitle=content.post.a11y-is-web-accessibility.title socialMediaDescription=content.post.a11y-is-web-accessibility.desc}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-home/c-home}}

<main
    id="section-main"
    itemscope itemtype="https://schema.org/BlogPosting"
    class="l-content">

    <meta
        itemprop="mainEntityOfPage"
        content="https://ericwbailey.design/writing/a11y-is-web-accessibility.html">

    <header class="l-content__title l-content__title--writing">

        {{>components/c-breadcrumb/c-breadcrumb}}

        <h1
            id="title"
            itemprop="name headline"
            class="heading-alpha">
            {{content.post.a11y-is-web-accessibility.title}}
        </h1>
        <p class="l-content__pubdate">
            <time datetime="2020-08-09T12:00:00Z">
                August 10&#8202;th, 2020
            </time>
        </p>

    </header>

    <section
        class="l-content__body l-content__body--post"
        itemprop="articleBody">

        <p class="c-lede">For better or worse, I spend a decent amount of time on social media.</p>
        <p>When you read it regularly, you start to notice that there’s an ebb and flow to the kinds of things that get brought up. People post ideas and observations, followed by reactions, counter-reactions, meta-reactions, subtweets, side and backchannel conversations, etc.</p>
        <p>One observation, “The term ‘a11y’ isn’t very accessible.” seems to pop up like clockwork. Most of the time, I bite my tongue when I see this surface-level remark and move on.</p>
        <p>However, it seems like I stumble across popular web personalities making this observation with increasing frequency. Maybe it’s due to the increased attention accessibility is getting in the design space. Or maybe it’s due to the filter bubble of who I follow on social media. Regardless, it does seem to be compounding to the point where it compelled me to take action.</p>

        <h2
            id="what-is-a11y"
            class="heading-beta">
            What is a11y?
        </h2>
        <p>First off, we need to establish what a11y is. It is a numeronym that stands for “accessibility.” This isn’t that difficult a thing to figure out—<a href="https://www.google.com/search?q=what+does+a11y+mean">a quick Google search</a> gives us the answers we need. You might not even have to leave your search results page to learn its meaning:</p>
        <img
            alt="Google search results for, “what does a11y mean”. The first result a structured data reply, taken from Wikipedia and the article, “What Does A11Y Even Mean?” by Matt D. Smith. It’s description reads, “Accessibility is often abbreviated as the numeronym a11y, where the number 11 refers to the number of letters omitted. This parallels the abbreviations of internationalization and localization as i18n and l10n respectively.” The image comes from Matt D. Smith’s article and shows how the term “a11y” is formed from the word “accessibility.”."
            src="../static/images/a11y-is-web-accessibility/a11y-google-result.png" />
        <p>Numeronyms aren’t new, nor are they something foreign to the industry. To name a few:</p>
        <ul>
            <li>911</li>
            <li>3D</li>
            <li>d11n</li>
            <li>P2P</li>
            <li>Y2K</li>
            <li>K-9</li>
            <li>l10n</li>
            <li>411</li>
            <li>i18n</li>
            <li>.45</li>
            <li>WWII</li>
            <li>G8</li>
            <li>401(k)</li>
            <li>101</li>
            <li>MST3K</li>
            <li>W3C</li>
            <li>S3</li>
        </ul>
        <p>How many of these terms are you already familiar with? I’m willing to bet a decent amount.</p>

        <h3
            id="origins"
            class="heading-gamma">
            Origins
        </h3>
        <p>I don’t know the first person to use the phrase “a11y”, but Twitter’s original character count can be attributed to popularizing it. Originally used by accessibility practitioners to save on character count when talking shop, it was <a href="https://hackernoon.com/twitter-didnt-invent-the-hashtag-chris-messina-did-1020969abfcd">further codified as a hashtag</a> when Twitter decided to natively implement a feature that was formed from emergent user behavior—a surprisingly uncharacteristic move for the platform.</p>
        <p>As the tweet length on Twitter was expanded to a luxurious 240 characters, the hashtag stayed on, serving as either a way to continue to save characters, or as a categorical marker to flag tweet content for others.</p>

        <h3
            id="purpose"
            class="heading-gamma">
            Purpose
        </h3>
        <p>Thanks to the English language’s adaptable nature, different words can have different connotations depending on the overall context of the sentence they’re placed in. In the context of the categorical marker, a11y serves as disambiguation, the process of making something more clear. </p>
        <p>If I search Twitter for a11y, <a href="https://twitter.com/hashtag/a11y?src=hash">my results are more focused</a> than <a href="https://twitter.com/search?l=&amp;q=accessibility&amp;src=typd">if I search for accessibility</a>. I’m not getting results for courses that make foreign languages more approachable, or how access to public libraries makes research results more rich. I’m not even seeing as much content that deals with accessibility, but at a too high or generalized level.</p>
        <p>a11y neatly sidesteps this issue, which is why we can see examples of its usage outside of Twitter: </p>
        <ul>
            <li>Rob Dodson’s fantastic <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g">A11ycasts</a> series, which carries Google’s stamp of approval and currently clocks in at ~90,000 views.</li>
            <li><a href="http://pa11y.org/">Pa11y</a> and <a href="https://ryersondmp.github.io/sa11y/">Sa11y</a>, suites of automated accessibility testing services.</li>
            <li>A worldwide network of conferences, webinars, and meetups attended by thousands of people, including <a href="http://conf.a11yto.com/">a11yTOConf</a>, <a href="http://buffa11y.org/">Buffa11y</a>, <a href="https://www.youtube.com/c/accessibilitytalks">A11Y Talks</a>, <a href="https://www.meetup.com/A11yNYC/">A11yNYC</a>, <a href="https://accessibility.scot/">a11yscotland</a>, <a href="https://www.meetup.com/London-Accessibility-Meetup/">a11ylondon</a>, <a href="https://www.meetup.com/A11yBH/">A11yBH</a>, and <a href="https://www.meetup.com/A11y-Meetup-Berlin/">A11y Meetup Berlin</a>, to name a few.</li>
            <li>A number of podcasts and podcast episodes, including <a href="https://a11yrules.com/">A11Y Rules</a>, the <a href="https://frontendhappyhour.com/episodes/a11y-cocktail/">a11y Cocktail</a> episode of Front End Happy Hour, and the <a href="https://changelog.com/jsparty/36">A11y is your ally</a> episode of JS Party.</li>
            <li>David A. Kennedy’s excellent <a href="https://a11yweekly.com/">A11yWeekly</a> newsletter.</li>
            <li>Carie Fisher’s <a href="https://www.bonfire.com/accessibility-cats/">A11Y Cats</a>, and other accessibility-themed merchandise.</li>
            <li><a href="https://www.a11yproject.com/">The A11Y Project</a>, a website I proudly help maintain.</li>
            <li>etc.</li>
        </ul>
        <p>We don’t use the red dot of light amplification by stimulated emission of radiation to harass our cats. Nor do we check what radio direction and ranging has to say about the day’s weather forecast. When I’m on vacation, I don’t look at tropical fish with the help of a self-contained underwater breathing apparatus. Those tools are lasers, radar, and scuba, three acronyms whose use has become so ubiquitous that they’ve become <a href="http://www.chompchomp.com/terms/commonnoun.htm">common nouns</a>. </p>
        <p>I never see people asking why WWI is written out the way it is, either. Won’t people confuse that with the first Wonder Woman movie? Or the first season of Westworld? Or some new Weight Watchers product? I also never see people questioning technical numeronyms like P2P, S3, or W3C? </p>
        <p>So why do people focus on a11y?</p>

        <h2
            id="ableism"
            class="heading-beta">
            Ableism
        </h2>
        <p>The easy answer is a quick joke about a perceived irony. A more complicated one is internalized ableism.</p>
        <p>To <a href="http://cdrnys.org/blog/uncategorized/ableism/">quote the Center for Disability Rights</a>, ableism is “a set of beliefs or practices that devalue and discriminate against people with physical, intellectual, or psychiatric disabilities and often rests on the assumption that disabled people need to be ‘fixed’ in one form or the other.”</p>
        <p>It’s a pervasive problem, one that’s been <a href="https://www.autistichoya.com/p/ableist-words-and-terms-to-avoid.html">normalized in our discourse</a> to the point where it’s almost invisible. Think about the last time you called something or someone, “lame,” “stupid,” “crazy,” “retarded,” or “idiotic.”</p>
        <p><a href="https://twitter.com/fangirlJeanne/status/1092841801369628674">Employing more effective adjectives</a> is great. However, removing abelist language, practices, and thoughts involves <a href="https://2019.cascadiajs.com/speakers/ej-mason">listening to individuals</a> who are willing to spend the physical and emotional labor to tell you what needs to be reevaluated.</p>
        <p>Thanks to the internet, that kind of information can be discovered quickly and easily, provided you know the issue exists (oh, if only there was a hashtag to help us).</p>
        <h3
            id="onus"
            class="heading-gamma">
            Onus
        </h3>
        <p>I’m nearsighted. I get migraines from time to time, as well as deal with bouts of anxiety and depression. But all things considered, I am an abled, straight, white, cisgender man. So why am I the one telling you all this? </p>
        <p>As alluded to earlier, it is not the responsibility of a <a href="https://www.selfdefined.app/definitions/minoritised/">minoritized</a> group to explain itself to you. Even if these types of questions and observations are asked in entirely good faith, it’s still a Sisyphean task that places a disproportionate burden on the person responding. This isn’t great for any group, especially one that created <a href="https://en.m.wikipedia.org/wiki/Spoon_theory">Spoon theory</a>.</p>
        <p>It’s also a common abuse tactic online, where the aggressor asks someone to explain themselves in bad faith, betting on them expending time and effort. Thanks to <a href="https://en.m.wikipedia.org/wiki/Problem_of_other_minds">the problem of other minds</a>, you can never know the intentions on the other end of the conversation.</p>
        <h2
            id="but-i-m-a-good-person"
            class="heading-beta">
            But I’m a good person!
        </h2>
        <p>You may be thinking this after reading the previous section. And you know what? You probably are. I do think most people strive to do their best. </p>
        <p>If reading about Abelism made you feel uncomfortable, that’s probably a signal that your worldview, and therefore your sense of self are being challenged. And if you made it to this part of the post, great! Sit with your discomfort for a bit and question why you feel this way.</p>
        <p>I’m willing to bet that a non-trivial amount of readers skipped down to the next section, or more realistically, closed the tab when their cognitive dissonance flared as their <a href="https://en.m.wikipedia.org/wiki/Mental_model">mental models</a> were challenged.</p>
        <p>When you say, “The term a11y isn’t very accessible.” are you actually saying that a term that discusses disability needs fixing?</p>
        <p>Subconsciously or consciously, the mental models that construct our world-views can, and do affect and infringe on others. Setting aside <a href="https://www.psychestudy.com/social/situational-attribution">situational attribution</a> for a moment, we need to unpack what “good” is, in the scope of perceiving yourself to be as close to perfect as possible for what society demands of you.</p>
        <p>The thing is: perfect is static, but the world is dynamic. Participating in culture means constantly reevaluating your position in it, and how it affects and is affected by others (see the emergence of <a href="https://thebodyisnotanapology.com/magazine/i-am-disabled-on-identity-first-versus-people-first-language/">identity-first language</a>). This takes work. But consider the alternative.</p>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">So much of our language is ableist or othering, and we don&#39;t realize it. I see language in accessibility audits like &quot;the screen reader user&quot;, or even heard someone say &quot;these people&quot; when referring to disabled folks in a conference talk about accessibility. <a href="https://twitter.com/hashtag/a11y?src=hash&amp;ref_src=twsrc%5Etfw">#a11y</a></p>&mdash; Nicolas Steenhout (@vavroom) <a href="https://twitter.com/vavroom/status/1136774417298542592?ref_src=twsrc%5Etfw">June 6, 2019</a></blockquote><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <h3
            id="allyship"
            class="heading-gamma">
            Allyship
        </h3>
        <p>Allyship is the “<a href="https://theantioppressionnetwork.com/allyship/">active, consistent, and arduous practice of unlearning and re-evaluating</a>, in which a person in a position of privilege and power seeks to operate in solidarity with a marginalized group.”</p>
        <p>You can’t be “the best ally.” It’s not a state to achieve, a switch that’s flipped, a system to rank up in, or a line item on your résumé. Importantly, it’s not a status you can lord over someone else.</p>
        <p>Allyship is an ongoing process where trust, education, and accountability are built with minoritized groups. It takes hard work, but it is well worth the time spent.</p>
        <p>It’s also worth saying that I’m still working at combating my own conscious and unconscious biases and prejudices, especially ones concerning disabilities. I am constantly learning and re-learning about this space, and I am fortunate to be welcomed into it.</p>
        <p>That being said, a11y is a term created by the web workers community and organically adopted by, and rallied behind its practitioners—both disabled and abled.</p>
        <p>There’s a part of me that feels incredibly uncomfortable writing this article. I write and speak a lot about disability and inclusion, but I do not speak for the group or try to be its savior. To that point, I’ve been trying to <a href="https://www.smashingmagazine.com/2020/05/equivalent-experiences-part1/">incorporate more disabled voices</a> in my work. I don’t want to dominate the conversation, nor force others out who should be present.</p>
        <p>I also want to avoid tone policing. This one is easy: Some disabled people don’t like the term. In this case, you don’t push them to explain their position, modify your language and behavior to accommodate their stated preference, and feel grateful that they cared enough to tell you. Easy.</p>

        <h2
            id="criticisms"
            class="heading-beta">
            Criticisms
        </h2>
        <p>I should also do my due diligence pointing out some other issues with the term a11y. Most of them have been <a href="https://58sound.com/2010/04/16/is-a11y-our-ally-thoughts-on-a-tag-for-web-accessibility/">brought up by others</a>, but they’re worth resurfacing here.</p>

        <h3
            id="legibility"
            class="heading-gamma">
            Legibility
        </h3>
        <p>The term “a11y” looks a lot like the word “ally.” Intentional? Perhaps. Beneficial? I think so.</p>
        <p>If you are concerned there will confusion over what the term will be interpreted as when read, that’s a problem with your typography. If you are empowered to, take the time to <a href="https://axesslab.com/fonts-dont-matter/">update it to be more accessible</a>.</p>

        <h3
            id="spell-checkers"
            class="heading-gamma">
            Spell checkers
        </h3>
        <p>Some dictionaries will flag a11y as a misspelled word. They’ll also probably flag many other terms, technical and otherwise. That doesn’t mean they’re not words. </p>
        <p>This topic is a whole post unto itself, but it may be worth thinking about where the words for these dictionaries are sourced, and how they contribute to how we communicate.</p>

        <h3
            id="its-awkward-to-type"
            class="heading-gamma">
            It’s awkward to type
        </h3>
        <p>If you’re using a software keyboard, switching between alphabetical and numerical keyboards takes effort. This could be especially problematic if you have a motor control disability. However, it’s still less keypresses than typing “accessibility” out in full (6 versus 13 on iOS). Also, when typed enough, many software keyboards will add it to their dictionaries for autocompletion purposes.</p>
        <p>Furthermore, “accessibility” is a long, multisyllabic word. That can make it problematic to read or spell out, especially for people with cognitive concerns.</p>

        <h3
            id="screen-readers"
            class="heading-gamma">
            Screen readers
        </h3>
        <p>Some people mention that “a11y” may not be pronounced as expected in a screen reader or narrator? To which I say: that’s exactly the point. </p>
        <p>A screen reader reads the screen the way the person using it has instructed it to. You don’t want to try and overwrite its verbosity and pronunciation settings, as you’d be disrupting someone’s explicit preferences and expectations. Doing so also indirectly communicates that you think that the way they interact with technology is invalid.</p>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I&#39;ve had web devs ask me if they can control what the screen reader says or which voice or speed it is said in. I said no, and that&#39;s a good thing. All that would achieve is that your users would hate you. <a href="https://t.co/UsuAB3Zajv">https://t.co/UsuAB3Zajv</a></p>&mdash; Geoff Shang (@GShang) <a href="https://twitter.com/GShang/status/1292454216099926018?ref_src=twsrc%5Etfw">August 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <h2
            id="how-do-i-use-it"
            class="heading-beta">
            How do I use it?
        </h2>
        <p>Like a lot of accessibility work, knowing how, when, and why to use the term largely depends on being conscientious of context. It’s also good writing practice.</p>
        <p>Many professions require good communication, and therefore good writing. Copywriters, user researchers, designers, developers, project managers, translators and localizers, marketers, etc, should all be conscious of their audience; their level of experience, their reading level, their areas of expertise, etc.</p>
        <p>For me, a11y is largely a categorical marker. Like a signal flare, I’ll <a href="https://twitter.com/ericwbailey/status/1291420275519754245">append it to tweets</a> when I want to increase the chances of the content being noticed outside of my immediate followers. </p>
        <p>Like any other abbreviation, I observe the <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-located.html">Web Content Accessibility Guideline’s (WCAG) Success Criterion 3.1.4</a>. Like any other acronym or industry jargon, I spell out the term in full the first time it appears in my writing, then follow it up with the acronym it represents:</p>
        <blockquote>
            <p><code>Accessibility (&lt;abbr&gt;a11y&lt;/abbr&gt;)</code></p>
        </blockquote>
        <p>As it is industry jargon, I try to be aware of the context and known level of cognition my writing will ultimately wind up in. If it is for peers, the term might be used casually, alongside other jargon like AT, DOM, AA, JSON, etc.</p>

        <h2
            id="how-do-i-not-use-it"
            class="heading-beta">
            How do I not use it?
        </h2>
        <p>If it’s for an audience who is new to working on the web, including learning about accessibility, I will probably not use the term until they feel more acquainted with the space. </p>
        <p>I also don’t try to slap it in to replace the term “accessibility.” Sentences like, “Make the best a11y on your website with these 5 tips” feel forced and artificial.</p>

        <h2
            id="a11y-is-here-to-stay"
            class="heading-beta">
            a11y is here to stay
        </h2>
        <p>The genie is out of the bottle. The ship has sailed. The egg is scrambled.</p>
        <p>I’m not naïve enough to think this will close discussion on the topic, but I do hope this article is something you can send as a reply to the next person who gets all fired up to make this kind of tiresomely pithy observation. </p>
        <p>If you’re a popular personality on social media, it’s worth some self-reflection about the ripple effect of making this observation about a11y’s perceived obtuseness. </p>
        <p>By leaping to score some quick clever points, you’re also signaling that some negative behaviors are acceptable to model: namely gatekeeping, scapegoating, and most importantly, denying the self-disclosed identity and viewpoints of a minoritized group. </p>
        <p>I’m less concerned about this as your private opinion voiced publicly than I am about what your legions of followers will think and do after reading it.</p>
        <p>There’s already enough <a href="https://twitter.com/MollyWattTalks/status/1086607258656653319">horrible misconceptions about disability</a> out there, we don’t need any more. If you’re reaction here is to think, “Well, <em>you’re</em> the one gatekeeping in telling me what I can’t say!” I’d ask you to reread the “But I’m a good person!” section.</p>
        <p>Instead, why not do something more constructive with your time? <a href="https://developers.google.com/web/tools/lighthouse/#devtools">Auditing your site for accessibility issues</a> is a good place to start. Even better: use that time to read, and to listen.</p>

        <h2
            id="further-reading"
            class="heading-beta">
            Further reading
        </h2>
        <ul>
            <li><a href="https://www.customerservant.com/defense-a11y-hashtag/">In Defense of the a11y Hashtag</a></li>
            <li><a href="http://adrianroselli.com/2016/11/a11y-accessibility.html">a11y = Accessibility</a></li>
            <li><a href="https://a11yproject.com/posts/a11y-and-other-numeronyms/">Quick tip: a11y and a brief numeronyms primer</a></li>
            <li><a href="http://www.i18nguy.com/origini18n.html">Origin Of The Abbreviation I18n</a></li>
        </ul>

    </section>

</main>

{{>layout/l-section/l-errata}}

<div aria-hidden="true" id="a11y-dialog"></div>

{{>meta/scripts/main}}
{{!-- {{>meta/scripts/offline}} --}}
{{>meta/analytics/gauges}}

<!-- Blog post metadata -->
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{content.site.title}}">
</div>
<meta itemprop="datePublished" content="2020-08-10T12:00:00Z">
<meta itemprop="image" content="https://ericwbailey.design/static/favicons/social/twitter-summary-image.png">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{content.source.ericwbailey}}">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <div itemprop="url" content="http://ericwbailey.design/static/favicons/social/twitter-summary-image.png"></div>
    </div>
</div>

</body>
</html>
