<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.post.how-to-not-make-a-resume-in-react.title}} | {{content.site.title}}</title>
{{>meta/description/description pageDescription=content.post.how-to-not-make-a-resume-in-react.desc}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter socialMediaTitle=content.post.how-to-not-make-a-resume-in-react.title socialMediaDescription=content.post.how-to-not-make-a-resume-in-react.desc}}
{{>meta/social-media/facebook socialMediaTitle=content.post.how-to-not-make-a-resume-in-react.title socialMediaDescription=content.post.how-to-not-make-a-resume-in-react.desc}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-home/c-home}}

<main
    id="section-main"
    itemscope itemtype="https://schema.org/BlogPosting"
    class="l-content">

    <meta
        itemprop="mainEntityOfPage"
        content="https://ericwbailey.design/writing/how-to-not-make-a-resume-in-react.html">

    <header class="l-content__title l-content__title--writing">

        {{>components/c-breadcrumb/c-breadcrumb}}

        <h1
            id="title"
            itemprop="name headline"
            class="heading-alpha">
            {{content.post.how-to-not-make-a-resume-in-react.title}}
        </h1>

    </header>

    <section
        class="l-content__body l-content__body--post"
        itemprop="articleBody">

        <p class="c-lede">I’ve seen a fair share of tutorial links floating around in newsletters and Twitter and the like recently. They all promise the same thing, namely how to use React to create a résumé.</p>
        <p>I mean, I get it. It’s important to have something to build towards when learning a new skill, especially with development. And at first blush a résumé seems like a good thing to build towards. They are relatively small in terms of complexity and can probably can use content that already exists on your LinkedIn profile. If you’re looking for a job, it’s also a handy way to double-dip on a skill that is in high demand.</p>
        <p>I checked out a few of these tutorials, and after noticing some patterns, I’d like to mention a few things you could do to your résumé instead. I’m not going to link to the ones I tested because I don’t want to give bad advice more exposure than its already getting.</p>
        <h2
            id="use-semantic-markup"
            class="heading-beta">
            Use semantic markup
        </h2>
        <p>Each of the tutorials I audited did a terrible job at markup. Granted, correlation isn’t causation, but there has to be something to the fact that <a rel="external" href="https://webaim.org/projects/million/#frameworks">framework-utilizing homepages show a greater degree of detectable accessibility errors when compared to a non-framework utilizing homepage</a>.</p>
        <p>Rock-solid, semantic HTML markup is the foundation that you build the rest of your experience from. In the context of a résumé, the lack of semantically-described content would tell me:</p>
        <ol>
            <li>You don’t know about these foundational skills, or</li>
            <li>Don’t care about why they’re important.</li>
        </ol>
        <p>This might sound harsh, but in the tech world this would be the equivalent of handing in a résumé printed on colored construction paper. Consider that there’s a decent chance someone doing the hiring may be checking your work out with this level of detail, as it's an example of what level of craft you’ll be bringing to their team.</p>
        <h3
            id="how-to-do-it"
            class="heading-gamma">
            How to do it
        </h3>
        <p>What you want to do is familiarize yourself with <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">the HTML elements made available to us</a>.</p>
        <h4
            id="your-content"
            class="heading-delta">
            Your content
        </h4>
        <p>We want to <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">use paragraph elements</a> for content such as your summary statement. <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">Anchor elements</a>—not clickable <code translate="no">div</code>s—allow you to link out to pertinent information such as your GitHub profile, personal website, email address, and <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Linking_to_telephone_numbers">even your phone number</a>. If you’re looking for a job, making yourself easy to get in contact with is a good thing.</p>
        <p><a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">Unordered lists</a> can help with the listing of skills an accomplishments, and <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">ordered lists</a> can help with timelines. Wrapping accomplishments in <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong"><code translate="no">strong</code> elements</a>—not spans—can call attention to important career milestones.</p>
        <h4
            id="how-to-prioritize-it"
            class="heading-delta">
            How to prioritize it
        </h4>
        <p>First, you’ll want to <a rel="external noopener" href="https://webdesign.tutsplus.com/articles/the-importance-of-heading-levels-for-assistive-technology--cms-31753">use heading elements to structure your content</a> in a way that makes sense hierarchically. For a common résumé format, it’d be something like.</p>
        <ol>
            <li><code translate="no">h1</code> Your name
                <ol>
                    <li><code translate="no">h2</code> Personal information</li>
                    <li><code translate="no">h2</code> Summary statement</li>
                    <li><code translate="no">h2</code> Work experience
                        <ol>
                            <li><code translate="no">h3</code> Job title and company</li>
                        </ol>
                    </li>
                    <li><code translate="no">h2</code> Skills
                        <ol>
                            <li><code translate="no">h3</code> Skill name</li>
                        </ol>
                    </li>
                    <li><code translate="no">h2</code> Education
                        <ol>
                            <li><code translate="no">h3</code> School name</li>
                        </ol>
                    </li>
                </ol>
            </li>

        </ol>
        <p>This structure clearly communicates:</p>
        <ol>
            <li>Who you are</li>
            <li>How I can contact you</li>
            <li>What you’re looking for</li>
            <li>What you’ve done previously</li>
            <li>How you did it</li>
            <li>Who taught you</li>
        </ol>
        <p>Since this helps me quickly and clearly understand you as a candidate, I can easily dip into those third level headings to really dig into the nitty-gritty.</p>
        <h4
            id="how-to-section-it"
            class="heading-delta">
            How to section it
        </h4>
        <p>You’ll also want to <a rel="external noopener" href="https://web.dev/use-landmarks/">use HTML’s landmark elements</a> to divide up your content. Use <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header">the <code translate="no">header</code> element</a> for your name and summary, <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main">the <code translate="no">main</code> element</a> to describe your skills, work history, education, etc. The <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside"><code translate="no">aside</code> element</a> can house your contact information, since it’s only pertinent if the person reviewing your résumé likes what they’re reading.</p>
        <h3
            id="why-should-i-care"
            class="heading-beta">
            Why should I care?
        </h3>
        <p>In addition to making the document easier to scan through in code, it helps people who use specialized technology to help them sift through applicant’s résumés. Some of this technology might be assistive technology such as a screen reader, but it could be any number of other things.</p>
        <p>Hoppers, scrapers, translators, and other automated solutions are commonplace tools for many HR departments. Semantic HTML is <a rel="external noopener" href="https://en.m.wikipedia.org/wiki/Web_interoperability">interoperable</a> HTML. It can maintain meaning when translated to another medium—say some choice information copy and pasted into an email sent to a decision-maker.</p>
        <p>The point is, you don’t know how someone will be interacting with your résumé, or what they’ll be doing with it, so you want to make sure it is as robust as possible when putting it out for the world to see.</p>
        <h2
            id="make-it-portable"
            class="heading-beta">
            Make it portable
        </h2>
        <p>Make your résumé analogous to its printed counterpart. By this, I mean a self-contained document. Don’t hotlink to external resources. This including fonts, images, and JavaScript libraries and <a rel="external noopener" href="https://polyfill.io/">polyfills</a>.</p>
        <p>Inline as much as possible into <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head">your document’s <code translate="no">head</code></a>. This includes <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style">your CSS</a> and <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script">your JavaScript</a>. Images can be <a rel="external noopener" href="https://www.base64-image.de/">converted to Base64</a>, and <a rel="external noopener" href="https://jakearchibald.github.io/svgomg/">SVG can be inlined</a>.</p>
        <p>Normally <a rel="external noopener" href="https://calendar.perfplanet.com/2011/why-inlining-everything-is-not-the-answer/">this is bad advice</a>. However, when everything is self-contained in a single file, that file becomes incredibly fault-tolerant, cacheable, and compact. It can be saved locally and passed around confidently, with almost no failure points.</p>
        <p>As résumés are mostly text and really shouldn’t have much in the way of interactivity, there’s also a good chance you can get the whole thing to <a rel="external noopener" href="https://www.afasterweb.com/2015/05/26/latency-and-the-first-round-trip#the-first-14k">render within the first round trip</a>.</p>
        <h2
            id="make-it-printer-friendly"
            class="heading-beta">
            Make it printer-friendly
        </h2>
        <p>This one is easy. Webpages can, and will be printed. <a rel="external noopener" href="https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/">CSS can style printed pages</a>. CSS supports <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units#Absolute_length_units">absolute measurement units</a>. When that HR manager prints your résumé to show someone, make sure it shows up looking <em>good</em>.</p>
        <h2
            id="make-it-machine-friendly"
            class="heading-beta">
            Make it machine-friendly
        </h2>
        <p>In addition to semantic markup, you can enhance your document with <a rel="external noopener" href="https://schema.org/">Schema.org microdata</a>.</p>
        <p>When scraping and search services such as Google index a website, they use complicated code to “best guess” what the website is about.</p>
        <p>By using microdata, you are able to speak directly to this code and say, “This is what this content means.” Removing this ambiguity means <a rel="external noopener" href="https://search.google.com/structured-data/testing-tool/u/0/">showing up for relevant searches</a> becomes that much easier for all involved.</p>
        <p>Schema.org has <a rel="external noopener" href="https://schema.org/Person">a way to programmatically describe yourself</a>. It also has a way to communicate <a rel="external noopener" href="https://schema.org/Organization">organizations</a>, <a rel="external noopener" href="https://schema.org/Event">events</a>, and <a rel="external noopener" href="https://schema.org/Product"></a>products</a>. I don’t know about you, but those all seem to me like things you’d commonly find on résumés.</p>
        <h2
            id="make-it-responsive"
            class="heading-beta">
            Make it responsive
        </h2>
        <p>You want your résumé to look good on a device the same way you want it to look good when printed. Since you can’t know the circumstances where it’ll be viewed, make sure you start with <a rel="external noopener" href="https://bradfrost.com/blog/post/mobile-first-responsive-web-design/">a mobile-first mindset</a> and test how it looks on a variety of screen sizes.</p>
        <p>It’s easy to imagine a scenario where an overworked hiring manager is reviewing your résumé on their phone over a lunch break. It’s also not too far a stretch to envision a scenario where it’s loaded onto a large conference room TV to discuss.</p>
        <h2
            id="make-it-performant"
            class="heading-beta">
            Make it performant
        </h2>
        <p>You probably won’t need to worry about this point if you follow the rest of this article’s advice. It is, however, something to think about if you are using React or many other JavaScript SPA frameworks.</p>
        <p>JavaScript uses the main thread to run, which means it blocks other things the browser needs to do. This includes painting, reflows, and garbage collection—all of which are used to show the person trying to load your website the website’s content.</p>
        <p>Things like a <a rel="external noopener" href="https://reactjs.org/docs/faq-internals.html">virtual DOM</a> and <a rel="external noopener" href="https://adactio.com/journal/16404">hydration</a> are JavaScript-intensive and offset that burden on the end user. On a powerful computer, say one used for developing, this isn’t too much of a concern.</p>
        <p>On a less powerful device, say a locked down, bulk-ordered budget company Dell laptop, this privilege may not exist. Do you want your résumé to be the thing that crashes a prospective employer’s browser?</p>
        <h2
            id="be-critical"
            class="heading-beta">
            Be critical
        </h2>
        <p>Consider what React and other SPA frameworks are good for: stateful, extensible component-driven applications. Now consider what a résumé’s goals are.</p>
        <p>Not every problem <a rel="external noopener" href="https://en.m.wikipedia.org/wiki/Law_of_the_instrument">requires a hammer</a>. Part of being a good developer is knowing the right tool for the job. Being able to weigh a technology’s strengths against its weaknesses, and articulate them, are incredibly valuable skills.</p>
        <p>While React and its ilk definitely are capable of performing much of what I discussed, it is not what they are focused on. As such, the time you’d spend on these considerations needs to compete with the time you’ll need to invest to setting up and working in your framework of choice.</p>
        <p>Just because the job market is demanding a certain buzzword doesn’t mean you can’t be critical of its faults and limitations. It also doesn’t mean that buzzword will be in favor forever—today’s React might be yesterday’s <a rel="external noopener" href="https://thenewstack.io/gopher-ruled-internet/">Gopher</a>.</p>
        <p>Résumés are all about making yourself seem attractive to a potential employer, demonstrating what skills and abilities you can offer their organization. All the enhancements described above signal depth of knowledge and consideration of circumstance, which goes a long way to standing out and getting that first interview lined up.</p>
    </section>

</main>

{{>layout/l-section/l-errata}}

<div aria-hidden="true" id="a11y-dialog"></div>

{{>meta/scripts/main}}
{{!-- {{>meta/scripts/offline}} --}}
{{>meta/analytics/gauges}}

<!-- Blog post metadata -->
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{content.site.title}}">
</div>
<meta itemprop="datePublished" content="2020-04-07T12:00:00Z">
<meta itemprop="image" content="https://ericwbailey.design/static/favicons/social/twitter-summary-image.png">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{content.source.ericwbailey}}">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <div itemprop="url" content="http://ericwbailey.design/static/favicons/social/twitter-summary-image.png"></div>
    </div>
</div>

</body>
</html>
