<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.post.its-all-disparate.title}} | {{content.site.title}}</title>
{{>meta/description/description pageDescription=content.post.its-all-disparate.desc}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter socialMediaTitle=content.post.its-all-disparate.title socialMediaDescription=content.post.its-all-disparate.desc}}
{{>meta/social-media/facebook socialMediaTitle=content.post.its-all-disparate.title socialMediaDescription=content.post.its-all-disparate.desc}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-home/c-home}}

<main
    id="section-main"
    itemscope itemtype="https://schema.org/BlogPosting"
    class="l-content">

    <meta
        itemprop="mainEntityOfPage"
        content="https://ericwbailey.design/writing/its-all-disparate-its-all-connected.html">

    <header class="l-content__title l-content__title--writing">

        {{>components/c-breadcrumb/c-breadcrumb}}

        <h1
            id="title"
            itemprop="name headline"
            class="heading-alpha">
            {{content.post.its-all-disparate.title}}
        </h1>

    </header>

    <section
        class="l-content__body l-content__body--post"
        itemprop="articleBody">

        <p class="c-lede">I will never forget when my father calmly explained to us how Jews controlled the media during dinnertime conversation.</p>
        <p>My mother, sister, and I were speechless. We were raised Jewish. My father had been present during every important holiday, and had told me how proud he was of me during my Bar Mitzvah.</p>
        <p>My father learned about this anti-Semitic conspiracy from a near-constant stream of conservative media. It started with Fox News, and as this kind of radicalization often does, moved on to more niche, extremist programming. Algorithms programmed to promote controversy in the name of generating more time to be exposed to advertising helped to facilitate this.</p>
        <p>It’s all disparate, it’s all connected.</p>
        <p>Our synagogue was cube-shaped. Services were conducted in the center of the building on the basement level, a two-story open column that you could walk around the entire area of to observe from above. During services, I would think about what I would do if a man with a gun would enter the temple, as the temple’s shape turn it into a shooting gallery. I wondered about how and where I would hide, and what would happen to my family.</p>
        <p>I never told anyone about this, as I thought it was the absurd churning of a young, anxious mind. Religious services were equal part tradition and history lessons about surviving multiple ethnic cleansings.</p>
        <p>A worldwide rise of Fascism, powered in part by a handful of largely unaccountable, centralized networks has made my juvenile paranoia extremely real. I am no longer religious, but my rabbi did teach us the consequences about talking about our religion in public.</p>
        <p>A record of my former faith could be discovered online if you dug hard enough. Upon publishing this post, that information will now be forever immortalized in a template I’ve deliberately constructed to be friendly to quick searching and sharing for companies that have done much to drive this radicalization.</p>
        <p>Somewhere in some Dehomag database, a <code>0</code> will flip to a <code>1</code>, marking me as something without my explicit knowledge or consent. It might then be communicated to, and correlated with other services, ones that will try and guess things my hireability and sexuality based on how a photo of face looks. The government is running concentration camps, but at least my social sharing images will look nice on the platforms that helped create our presidency.</p>
        <p>It’s all disparate, it’s all connected.</p>
        <p>My father was a network engineer, someone perceptive enough to understand how important computers talking to each other would become, and got in on the ground floor. He chose having a family over keeping pace with the industry, and eventually lost his job. Ageism ensured that he would continue to be kept out.</p>
        <p>I’ve been wondering when the same thing will happen to me for every day for the last decade. When’s the moment I’ll be pushed out? What will I do next? How will I provide for the people I care about? I’ve sacrificed so much of myself in the name of feeding this fear, but I don’t know any other way to live.</p>
        <p>With over a decade of near-constant unemployment, my father had more time to ingest, internalize, and repeat the talking points of conservative media. This pushed friends and family away. A compounding lack of social interaction exacerbated his cognitive decline, a force multiplier for his othering behavior. It was a vicious feedback loop, one that recently resulted in tears and legal action. Last week I went to a family counseling session to help him understand the consequences of his behavior.</p>
        <p>It’s all disparate, it’s all connected.</p>
        <p>This month, three women who I hold a great deal of respect for left the industry for good, each citing a different, toxic aspect of tech. I’m a white, cisgendered male, so I’m sure I only heard a fraction of what they actually experienced, as well. It’s a large number in a short time, and it made me realize it’s a pattern that’s been happening throughout the course of my career. I’m furious and I’m depressed. I feel like our entire industry needs that counselor.</p>
        <p>This isn’t about the loss of potential, it’s how an entire industry continues to harm and fail so many. It’s not about offering them new jobs in different places where the same patterns of abuse will inevitably occur. It’s about coming to terms with being a participant in this system, knowing <a rel="external noopener" href="https://www.nytimes.com/2018/10/15/technology/myanmar-facebook-genocide.html">the full scope of horror</a> it can inflict.</p>
        <p>It’s all disparate, it’s all connected.</p>
        <p>Last week I called out behavior that was attempting to other and invalidate a positive, directed effort to name and address these systemic, structural issues. The individual was attempting to frame an entire event as something that was separate from technology, something to be belittled, dismissed, and, ignored.</p>
        <p>It was one of thousands of near-anonymous hateful messages that minoritised groups have to slog through every day, which is exactly why I chose to bring it screaming into the daylight. It’s a single note in an ambient background noise that slowly, pervasively distorts, undermines, and dehumanizes. It’s a chant, a cheap tape loop that repeats, “This space is not for you. Your efforts are not valid. You are not a person here.”</p>
        <p>I tried shouting about this to someone who is cognizant of the dynamics at play, someone with influence who doesn’t curate their social feed to include an avowed misogynist. The timing couldn’t have been worse. Technology isn’t neutral, and now we’ve lost a fourth.</p>
        <p>In a moment of rage and weakness, I snapped. It was the wrong thing said to the wrong person in the wrong way at the wrong time. Me inserting myself into something I wasn’t immediately involved with also cast attention on people who may not have wanted it. For both things, I am deeply sorry.</p>
        <p>One of my many mistakes was confusing the forest for the trees. A technology framework doesn’t compel someone to inflict harm. It does, however, help facilitate it. It also perpetuates its inherent biases at the scale of its use, something we’ve unfortunately become familiar and disgustingly comfortable with in the past few years.</p>
        <p>A technology framework won’t hire my friend because they are blind, but it will prevent them from navigating through a job application portal. This is the same way a technology framework won’t write hateful, homophobic messages urging my gay friend to quit his development job and kill himself. It will, however, send them anonymously on behalf of one of his coworkers. Both of these things have also happened.</p>
        <p>It’s a dark, twisted forest and we’re all lost inside of it. The phone and laptop I’m using to type this all out are made from rare earth metals most likely mined from slave labor. The web app that stores these words while I craft them is made by a company whose director helped to normalize government-sponsored torture. The code is hosted by a company who helps provide the cloud infrastructure for our government to conduct raids on immigrant populations. The services I use to talk to my friends allow Nazis to recruit the naïve and coordinate the killing of the vulnerable. The servers required to keep all this running churn through electricity as the world burns around us. <a rel="external noopener" href="https://www.fastcompany.com/90394048/uh-oh-silicon-valley-is-building-a-chinese-style-social-credit-system">Our future is easy to see</a>, provided you're paying close enough attention—this is bigger than voting with your wallet.</p>
        <p>It’s all disparate, it’s all connected.</p>
        <p>I’m sick and tired of greed and malice being construed as cleverness and virtue. There is something fundamentally wrong and broken and twisted at the heart of tech. It is no accident that every person I know who works in it carries around a secret idea for backup career with them.</p>
        <p>I’m also just as complicit as everyone else. I’m taking a break from writing and speaking to re-figure out my place and relationship with technology, and I want to apologize again for the harm my selfish blundering has caused. If you’ll permit me to sign off with a quote, it’s one from <a rel="external noopener" href="https://en.m.wikipedia.org/wiki/Elie_Wiesel">Elie Wiesel</a>: “We must take sides. Neutrality helps the oppressor, never the victim.”</p>

    </section>

</main>

{{>layout/l-section/l-errata}}

{{>meta/scripts/main}}
{{!-- {{>meta/scripts/offline}} --}}
{{>meta/analytics/gauges}}

<!-- Blog post metadata -->
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{content.site.title}}">
</div>
<meta itemprop="datePublished" content="2019-08-26T12:00:00Z">
<meta itemprop="image" content="https://ericwbailey.design/static/favicons/social/twitter-summary-image.png">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{content.source.ericwbailey}}">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <div itemprop="url" content="http://ericwbailey.design/static/favicons/social/twitter-summary-image.png"></div>
    </div>
</div>

</body>
</html>
