<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.post.tech-metaphors.title}} | {{content.site.title}}</title>
{{>meta/description/description pageDescription=content.post.tech-metaphors.desc}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter socialMediaTitle=content.post.tech-metaphors.title socialMediaDescription=content.post.tech-metaphors.desc}}
{{>meta/social-media/facebook socialMediaTitle=content.post.tech-metaphors.title socialMediaDescription=content.post.tech-metaphors.desc}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-home/c-home}}

<main
    id="section-main"
    itemscope itemtype="https://schema.org/BlogPosting"
    class="l-content">

    <meta
        itemprop="mainEntityOfPage"
        content="https://ericwbailey.design/writing/tech-metaphors.html">

    <header class="l-content__title l-content__title--writing">

        {{>components/c-breadcrumb/c-breadcrumb}}

        <h1
            id="title"
            itemprop="name headline"
            class="heading-alpha">
            {{content.post.tech-metaphors.title}}
        </h1>

    </header>

    <section
        class="l-content__body l-content__body--post"
        itemprop="articleBody">

        <p class="c-lede">Tired of referencing the same yaks, sheds, and cars over and over again? Here’s a few new metaphors to drop at your next sprint planning meeting:</p>
        <h2
            id="winchester-mystery-house"
            class="heading-beta">
            Winchester Mystery House
        </h2>
        <p>A mansion in San Jose, California that was once occupied by Sarah Winchester, widow of the eponymous firearms manufacturer. The mansion is known for its size, the fact that it was under constant construction for 38 years, and the lack of any master building plan.</p>
        <p>The mansion started as an unfinished farmhouse and was a seven-story building at the time of Sarah’s death, at which point construction stopped. As she did not have an architect directing construction, the mansion contains many odd features implemented seemingly at random, including doors that lead to nowhere, non-standard-sized stairs, and windows opening into other rooms.</p>
        <h2
            id="hallucigenia-sparsa"
            class="heading-beta">
            Hallucigenia sparsa
        </h2>
        <p>An extinct, thumb-sized worm from the Cambrian period. For the longest time, scientists didn't know which end was up or front. Nobody denied that it existed, just how it did what it did.</p>
        <h2
            id="cadaver-synod"
            class="heading-beta">
            Cadaver Synod
        </h2>
        <p>Pope Formosus was put on trial for perjury by the successor to his successor, Pope Boniface VI. Formosus was accused of prejury and on becoming Pope illegally.</p>
        <p>The rub? Pope Formosus had been dead and buried for a year before his accusation. His corpse was exhumed and brought to court for trial at Papal Court. A deacon was instructed to answer for the Pope’s propped-up corpse, with many of the questions coming from political enemies of the Pope’s family.</p>
        <p>Formosus was found guilty, stripped of his vestments, and had his papacy retroactively declared null.</p>
        <h2
            id="jefferson-bible"
            class="heading-beta">
            Jefferson Bible
        </h2>
        <p>Officially titled <cite>The Life and Morals of Jesus of Nazareth</cite>, the Jefferson Bible is a religious book constructed by Thomas Jefferson by cutting select passages from the gospels of Matthew, Mark, Luke, and John from the King James Version. Jefferson picked, pasting them together to form a narrative better aligned to his worldview.</p>
        <h2
            id="wan-hus-chair"
            class="heading-beta">
            Wan Hu’s Chair
        </h2>
        <p>This is an apocryphal story about a Wan Hu, an alleged Ming dynasty official. Hu, desiring to reach the moon, attached forty-seven gunpowder rockets to a large wicker chair. He then sat on the chair and instructed forty-seven subordinates to ignite the rocket’s fuses. There was a massive explosion. When the smoke cleared, both the chair and Wan Hu were nowhere to be found.</p>
        <h2
            id="babirusa"
            class="heading-beta">
            Babirusa
        </h2>
        <p>Also known as deer-pigs, babirusa are a type of swine found on the Indonesian islands of Sulawesi, Togian, Sula and Buru. Babirusa males are solitary, and their skulls feature large, upward-curling tusks used for fighting with other males of its species. If a male babirusa’s tusks are not constantly ground down, there is a risk that they will grow upwards and backwards, potentially penetrating its own skull and killing it.</p>
        <h2
            id="baby-centrifuge"
            class="heading-beta">
            Baby centrifuge
        </h2>
        <p>A patent granted to George and Charlotte Blonsky in 1965. The device is described as being a circular table that a woman is strapped into, lying on her back. The table then rotates at a high speed, pushing the baby out via centrifugal force into netting wrapped around the woman’s legs.</p>
        <p>While horrific sounding, the Blonsky’s invention came from a place of (misguided) compassion. The couple loved children, and the idea for their invention came from observing difficulties with an elephant giving birth at a local zoo.</p>
        <p>The inspiration for the actual implementation likely came from a famous device at the time: the centrifuges used to train astronauts for exposure to high-g environments. However, this misapplication of unrelated technology to facilitate delivery was judged as being both overly-expensive and complicated compared to existing birthing methods.</p>
        <p>Finally, the net was evaluated as being unsuited to the task of safely catching the ejected baby, making the entire point of the device moot.</p>

    </section>

</main>

{{>layout/l-section/l-errata}}

<div aria-hidden="true" id="a11y-dialog"></div>

{{>meta/scripts/main}}
{{!-- {{>meta/scripts/offline}} --}}
{{>meta/analytics/gauges}}

<!-- Blog post metadata -->
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{content.site.title}}">
</div>
<meta itemprop="datePublished" content="2019-11-06T12:00:00Z">
<meta itemprop="image" content="https://ericwbailey.design/static/favicons/social/twitter-summary-image.png">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{content.source.ericwbailey}}">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <div itemprop="url" content="http://ericwbailey.design/static/favicons/social/twitter-summary-image.png"></div>
    </div>
</div>

</body>
</html>
