<ul
    class="c-errata"
    itemscope itemtype="https://schema.org/SiteNavigationElement">

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentWriting}}}
            href="/writing.html">
            <small>{{content.title.writing}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentSpeaking}}}
            href="/speaking.html">
            <small>{{content.title.speaking}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentOfficeHours}}}
            href="/office-hours.html">
            <small>{{content.title.office-hours}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentAccessibility}}}
            href="/accessibility-statement.html">
            <small>{{content.title.accessibility}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentColophon}}}
            href="/colophon.html">
            <small>{{content.title.colophon}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            itemprop="url"
            {{{currentOldStuff}}}
            href="/old-stuff.html">
            <small>{{content.title.old-stuff}}</small>
        </a>
    </li>

</ul>

<ul class="c-errata__copyright">

    <li class="c-errata__copyright-item">
        <a
            class="c-errata__link--copyright"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode"
            itemprop="license"
            rel="copyright external license noopener">
            <small>
                <abbr>CC BY-NC-SA</abbr>
            </small>
        </a>
    </li>

    <li class="c-errata__copyright-item">
        <a
            class="c-errata__link--copyright"
            href="/feed/feed.xml">
            <small>
                <abbr>RSS</abbr>
            </small>
        </a>
    </li>

</ul>
