<ul class="c-errata">

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            {{{currentWriting}}}
            href="writing.html">
            <small>{{content.title.writing}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            {{{currentOfficeHours}}}
            href="office-hours.html">
            <small>{{content.title.office-hours}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            {{{currentAccessibility}}}
            href="accessibility-statement.html">
            <small>{{content.title.accessibility}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            {{{currentColophon}}}
            href="colophon.html">
            <small>{{content.title.colophon}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            {{{currentOldStuff}}}
            href="old-stuff.html">
            <small>{{content.title.old-stuff}}</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode"
            itemprop="license"
            rel="copyright external license noopener">
            <small>
                <abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License">
                    CC BY-NC-SA
                </abbr>
            </small>
        </a>
    </li>

</ul>
