<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.inclusion-media-queries.id}}"
            class="c-link-list__link"
            href="{{content.talk.inclusion-media-queries.url}}"
            rel="author external noopener">
            {{{content.talk.inclusion-media-queries.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.inclusion-media-queries.location}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.intersection-of-performance-and-accessibility.id}}"
            class="c-link-list__link"
            href="{{content.talk.intersection-of-performance-and-accessibility.url}}"
            rel="author external noopener">
            {{{content.talk.intersection-of-performance-and-accessibility.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.intersection-of-performance-and-accessibility.location}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.accessibility-at-scale.id}}"
            class="c-link-list__link"
            href="{{content.talk.accessibility-at-scale.url}}"
            rel="author external noopener">
            {{{content.talk.accessibility-at-scale.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.accessibility-at-scale.location}}}
    </dd>

</dl>
