<dl class="c-link-list">

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                id="{{content.talk.inclusion-media-queries.id}}"
                class="c-link-list__link"
                href="{{content.talk.inclusion-media-queries.url}}"
                rel="author external noopener">
                {{{content.talk.inclusion-media-queries.title}}}
            </a>
        </dt>
        <dd class="c-link-list__location">
            {{{content.talk.inclusion-media-queries.location}}}
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                id="{{content.talk.high-contrast-mode.id}}"
                class="c-link-list__link"
                href="{{content.talk.high-contrast-mode.url}}"
                rel="author external noopener">
                {{{content.talk.high-contrast-mode.title}}}
            </a>
        </dt>
        <dd class="c-link-list__location">
            {{{content.talk.high-contrast-mode.location}}}
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                id="{{content.talk.interactive-focus-style.id}}"
                class="c-link-list__link"
                href="{{content.talk.interactive-focus-style.url}}"
                rel="external noopener">
                {{{content.talk.interactive-focus-style.title}}}
            </a>
        </dt>
        <dd class="c-link-list__location">
            {{{content.talk.interactive-focus-style.location}}}
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt
            id="{{content.talk.accessibility-inclusive-design.id}}"
            class="c-link-list__item">
            {{{content.talk.accessibility-inclusive-design.title}}}
        </dt>
        <dd class="c-link-list__location">
            {{{content.talk.accessibility-inclusive-design.location}}}
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                id="{{content.talk.intersection-of-performance-and-accessibility.id}}"
                class="c-link-list__link"
                href="{{content.talk.intersection-of-performance-and-accessibility.url}}"
                rel="external noopener">
                {{{content.talk.intersection-of-performance-and-accessibility.title}}}
            </a>
        </dt>
        <dd class="c-link-list__location">
            {{{content.talk.intersection-of-performance-and-accessibility.location}}}
        </dd>
    </div>

</dl>
