<h2
    id="2019"
    class="heading-beta c-year-divider">
    <time datetime="2019">2019</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.accessibility-at-scale.id}}"
            class="c-link-list__link"
            href="{{content.talk.accessibility-at-scale.url}}"
            rel="author">
            {{{content.talk.accessibility-at-scale.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.accessibility-at-scale.location}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.intersection-of-performance-and-accessibility.id}}"
            class="c-link-list__link"
            href="{{content.talk.intersection-of-performance-and-accessibility.url}}"
            rel="author">
            {{{content.talk.intersection-of-performance-and-accessibility.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.intersection-of-performance-and-accessibility.location}}}
    </dd>

</dl>

<h2
    id="2018"
    class="heading-beta c-year-divider">
    <time datetime="2018">2018</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.interactive-focus-style.id}}"
            class="c-link-list__link"
            href="{{content.talk.interactive-focus-style.url}}"
            rel="author">
            {{{content.talk.interactive-focus-style.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.interactive-focus-style.location}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.accessibility-inclusive-design.id}}"
            class="c-link-list__link"
            href="{{content.talk.accessibility-inclusive-design.url}}"
            rel="author">
            {{{content.talk.accessibility-inclusive-design.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.accessibility-inclusive-design.location}}}
    </dd>

</dl>

<h2
    id="2017"
    class="heading-beta c-year-divider">
    <time datetime="2017">2017</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.high-contrast-mode.id}}"
            class="c-link-list__link"
            href="{{content.talk.high-contrast-mode.url}}"
            rel="author">
            {{{content.talk.high-contrast-mode.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.high-contrast-mode.location}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.talk.inclusion-media-queries.id}}"
            class="c-link-list__link"
            href="{{content.talk.inclusion-media-queries.url}}"
            rel="author">
            {{{content.talk.inclusion-media-queries.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.talk.inclusion-media-queries.location}}}
    </dd>

</dl>
