<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            id="{{content.post.placeholder.id}}"
            class="c-link-list__link"
            href="{{content.post.placeholder.url}}"
            rel="author external noopener">
            {{{content.post.placeholder.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.post.focusing-focus-styles.id}}"
            class="c-link-list__link"
            href="{{content.post.focusing-focus-styles.url}}"
            rel="author external noopener">
            {{{content.post.focusing-focus-styles.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.post.manual-accessibility-testing.id}}"
            class="c-link-list__link"
            href="{{content.post.manual-accessibility-testing.url}}"
            rel="author external noopener">
            {{{content.post.manual-accessibility-testing.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.post.lead-better-user-interviews.id}}"
            class="c-link-list__link"
            href="{{content.post.lead-better-user-interviews.url}}"
            rel="author external noopener">
            {{{content.post.lead-better-user-interviews.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.thoughtbot}}
    </dd>

    <dt class="c-link-list__item">
        <a
            id="{{content.post.reduced-motion-intro.id}}"
            class="c-link-list__link"
            href="{{content.post.reduced-motion-intro.url}}"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        CSS&#8202;-&#8202;Tricks
    </dd>

</dl>
