<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.smashingmagazine.com/2018/06/placeholder-attribute/"
            rel="author external noopener">
            {{{content.post.placeholder}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/focusing-on-focus-styles/"
            rel="author external noopener">
            {{{content.post.focusing-focus-styles}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.smashingmagazine.com/2018/09/importance-manual-accessibility-testing/"
            rel="author external noopener">
            {{{content.post.manual-accessibility-testing}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://robots.thoughtbot.com/how-to-lead-better-user-interviews"
            rel="author external noopener">
            {{{content.post.lead-better-user-interviews}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.thoughtbot}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        CSS&#8202;-&#8202;Tricks
    </dd>

</dl>
