<h2 id="2020" class="heading-beta c-year-divider">
    <time datetime="2020">2020</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.equivalent-experiences-2.id}}" class="c-link-list__link" href="{{content.post.equivalent-experiences-2.url}}"
            rel="author external noopener">
            {{{content.post.equivalent-experiences-2.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.equivalent-experiences-1.id}}" class="c-link-list__link" href="{{content.post.equivalent-experiences-1.url}}"
            rel="author external noopener">
            {{{content.post.equivalent-experiences-1.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.myth-aria-has-perfect-support.id}}" class="c-link-list__link" href="{{content.post.myth-aria-has-perfect-support.url}}"
            rel="author external noopener">
            {{{content.post.myth-aria-has-perfect-support.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.a11y-project}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.css-functions.id}}" class="c-link-list__link" href="{{content.post.css-functions.url}}"
            rel="author external noopener">
            {{{content.post.css-functions.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.svg-favicon.id}}" class="c-link-list__link" href="{{content.post.svg-favicon.url}}"
            rel="author external noopener">
            {{{content.post.svg-favicon.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.how-to-not-make-a-resume-in-react.id}}" class="c-link-list__link"
            href="{{content.post.how-to-not-make-a-resume-in-react.url}}" rel="author external noopener">
            {{{content.post.how-to-not-make-a-resume-in-react.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.using-personas.id}}" class="c-link-list__link" href="{{content.post.using-personas.url}}"
            rel="author external noopener">
            {{{content.post.using-personas.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.accessibility-display-modes.id}}" class="c-link-list__link"
            href="{{content.post.accessibility-display-modes.url}}" rel="author external noopener">
            {{{content.post.accessibility-display-modes.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.a11y-project}}}
    </dd>

</dl>

<h2 id="2019" class="heading-beta c-year-divider">
    <time datetime="2019">2019</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.what-the-web.id}}" class="c-link-list__link" href="{{content.post.what-the-web.url}}"
            rel="author external noopener">
            {{{content.post.what-the-web.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.tech-metaphors.id}}" class="c-link-list__link" href="{{content.post.tech-metaphors.url}}"
            rel="author">
            {{{content.post.tech-metaphors.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.its-all-disparate.id}}" class="c-link-list__link"
            href="{{content.post.its-all-disparate.url}}" rel="author">
            {{{content.post.its-all-disparate.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.truths-about-digital-accessibility.id}}" class="c-link-list__link"
            href="{{content.post.truths-about-digital-accessibility.url}}" rel="author">
            {{{content.post.truths-about-digital-accessibility.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.attempting-to-corral-colors.id}}" class="c-link-list__link"
            href="{{content.post.attempting-to-corral-colors.url}}" rel="author">
            {{{content.post.attempting-to-corral-colors.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.universal-design-practical-tips.id}}" class="c-link-list__link"
            href="{{content.post.universal-design-practical-tips.url}}" rel="author">
            {{{content.post.universal-design-practical-tips.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.shopifypartners}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.lighthouse.id}}" class="c-link-list__link" href="{{content.post.lighthouse.url}}"
            rel="author">
            {{{content.post.lighthouse.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.revisiting-reduced-motion.id}}" class="c-link-list__link"
            href="{{content.post.revisiting-reduced-motion.url}}" rel="author external noopener">
            {{{content.post.revisiting-reduced-motion.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.slashbot.id}}" class="c-link-list__link" href="{{content.post.slashbot.url}}"
            rel="author external noopener">
            {{{content.post.slashbot.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.fighting-uphill.id}}" class="c-link-list__link"
            href="{{content.post.fighting-uphill.url}}" rel="author">
            {{{content.post.fighting-uphill.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ericwbailey}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.paint-picture-not-frame.id}}" class="c-link-list__link"
            href="{{content.post.paint-picture-not-frame.url}}" rel="author external noopener">
            {{{content.post.paint-picture-not-frame.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.ala}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.little-library.id}}" class="c-link-list__link" href="{{content.post.little-library.url}}"
            rel="author external noopener">
            {{{content.post.little-library.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.button-to-beat.id}}" class="c-link-list__link" href="{{content.post.button-to-beat.url}}"
            rel="author external noopener">
            {{{content.post.button-to-beat.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

</dl>

<h2 id="2018" class="heading-beta c-year-divider">
    <time datetime="2018">2018</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.web-components.id}}" class="c-link-list__link" href="{{content.post.web-components.url}}"
            rel="author external noopener">
            {{{content.post.web-components.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.24-a11y}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.be-the-villain.id}}" class="c-link-list__link" href="{{content.post.be-the-villain.url}}"
            rel="author external noopener">
            {{{content.post.be-the-villain.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.24-ways}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.touch-targets.id}}" class="c-link-list__link" href="{{content.post.touch-targets.url}}"
            rel="author external noopener">
            {{{content.post.touch-targets.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.a11y-project}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.designer-developing-android.id}}" class="c-link-list__link"
            href="{{content.post.designer-developing-android.url}}" rel="author external noopener">
            {{{content.post.designer-developing-android.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.quick-tip-lang.id}}" class="c-link-list__link" href="{{content.post.quick-tip-lang.url}}"
            rel="author external noopener">
            {{{content.post.quick-tip-lang.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.tutsplus}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.importance-heading-levels.id}}" class="c-link-list__link"
            href="{{content.post.importance-heading-levels.url}}" rel="author external noopener">
            {{{content.post.importance-heading-levels.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.tutsplus}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.manual-accessibility-testing.id}}" class="c-link-list__link"
            href="{{content.post.manual-accessibility-testing.url}}" rel="author external noopener">
            {{{content.post.manual-accessibility-testing.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.possibilities-color-adjust.id}}" class="c-link-list__link"
            href="{{content.post.possibilities-color-adjust.url}}" rel="author external noopener">
            {{{content.post.possibilities-color-adjust.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.placeholder.id}}" class="c-link-list__link" href="{{content.post.placeholder.url}}"
            rel="author external noopener">
            {{{content.post.placeholder.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.lead-better-user-interviews.id}}" class="c-link-list__link"
            href="{{content.post.lead-better-user-interviews.url}}" rel="author external noopener">
            {{{content.post.lead-better-user-interviews.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.focusing-focus-styles.id}}" class="c-link-list__link"
            href="{{content.post.focusing-focus-styles.url}}" rel="author external noopener">
            {{{content.post.focusing-focus-styles.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.building-a-good-download.id}}" class="c-link-list__link"
            href="{{content.post.building-a-good-download.url}}" rel="author external noopener">
            {{{content.post.building-a-good-download.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

</dl>

<h2 id="2017" class="heading-beta c-year-divider">
    <time datetime="2017">2017</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.build-cloud-hosted-aws.id}}" class="c-link-list__link"
            href="{{content.post.build-cloud-hosted-aws.url}}" rel="author external noopener">
            {{{content.post.build-cloud-hosted-aws.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.24-a11y}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.how-accessible-is-your-news.id}}" class="c-link-list__link"
            href="{{content.post.how-accessible-is-your-news.url}}" rel="author external noopener">
            {{{content.post.how-accessible-is-your-news.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.poynter}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.consistently-inconsistent.id}}" class="c-link-list__link"
            href="{{content.post.consistently-inconsistent.url}}" rel="author external noopener">
            {{{content.post.consistently-inconsistent.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.aria-is-spackle-not-rebar.id}}" class="c-link-list__link"
            href="{{content.post.aria-is-spackle-not-rebar.url}}" rel="author external noopener">
            {{{content.post.aria-is-spackle-not-rebar.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.letter-spacing.id}}" class="c-link-list__link" href="{{content.post.letter-spacing.url}}"
            rel="author external noopener">
            {{{content.post.letter-spacing.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.equifax.id}}" class="c-link-list__link" href="{{content.post.equifax.url}}"
            rel="author external noopener">
            {{{content.post.equifax.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.make-technology-work-for-you.id}}" class="c-link-list__link"
            href="{{content.post.make-technology-work-for-you.url}}" rel="author external noopener">
            {{{content.post.make-technology-work-for-you.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thitm}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.speech-css.id}}" class="c-link-list__link" href="{{content.post.speech-css.url}}"
            rel="author external noopener">
            {{{content.post.speech-css.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.crafting-chatbot-2.id}}" class="c-link-list__link"
            href="{{content.post.crafting-chatbot-2.url}}" rel="author external noopener">
            {{{content.post.crafting-chatbot-2.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.crafting-chatbot-1.id}}" class="c-link-list__link"
            href="{{content.post.crafting-chatbot-1.url}}" rel="author external noopener">
            {{{content.post.crafting-chatbot-1.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.reduced-motion-intro.id}}" class="c-link-list__link"
            href="{{content.post.reduced-motion-intro.url}}" rel="author external noopener">
            {{{content.post.reduced-motion-intro.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

</dl>


<h2 id="2016" class="heading-beta c-year-divider">
    <time datetime="2016">2016</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.svg-high-contrast.id}}" class="c-link-list__link"
            href="{{content.post.svg-high-contrast.url}}" rel="author external noopener">
            {{{content.post.svg-high-contrast.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.iot-firmware.id}}" class="c-link-list__link" href="{{content.post.iot-firmware.url}}"
            rel="author external noopener">
            {{{content.post.iot-firmware.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.better-button-css.id}}" class="c-link-list__link"
            href="{{content.post.better-button-css.url}}" rel="author external noopener">
            {{{content.post.better-button-css.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.accessibility-culture-2.id}}" class="c-link-list__link"
            href="{{content.post.accessibility-culture-2.url}}" rel="author external noopener">
            {{{content.post.accessibility-culture-2.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.responsive-buy-in.id}}" class="c-link-list__link"
            href="{{content.post.responsive-buy-in.url}}" rel="author external noopener">
            {{{content.post.responsive-buy-in.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.accessibility-culture-1.id}}" class="c-link-list__link"
            href="{{content.post.accessibility-culture-1.url}}" rel="author external noopener">
            {{{content.post.accessibility-culture-1.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

    <dt class="c-link-list__item">
        <a id="{{content.post.battery-status.id}}" class="c-link-list__link" href="{{content.post.battery-status.url}}"
            rel="author external noopener">
            {{{content.post.battery-status.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

</dl>


<h2 class="heading-beta c-year-divider">
    <time datetime="2015">2015</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a id="{{content.post.exception.id}}" class="c-link-list__link" href="{{content.post.exception.url}}"
            rel="author external noopener">
            {{{content.post.exception.title}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.cantina}}}
    </dd>

</dl>
