<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/focusing-on-focus-styles/"
            rel="author external noopener">
            {{{content.post.focusing-focus-styles}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/aria-spackle-not-rebar/"
            rel="author external noopener">
            {{{content.post.aria-is-spackle-not-rebar}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://cantina.co/equifax-data-breach-credit-freezes-and-beholden-design/"
            rel="author external noopener">
            {{{content.post.equifax}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            {{{content.post.speech-css}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        CSS&#8202;-&#8202;Tricks
    </dd>

</dl>
