<h2
    id="2018"
    class="heading-beta">
    <time datetime="2018">2018</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.smashingmagazine.com/2018/09/importance-manual-accessibility-testing/"
            rel="author external noopener">
            {{{content.post.manual-accessibility-testing}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/the-possibilities-of-the-color-adjust-property/"
            rel="author external noopener">
            {{{content.post.possibilities-color-adjust}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.smashingmagazine.com/2018/06/placeholder-attribute/"
            rel="author external noopener">
            {{{content.post.placeholder}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.smashing}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://robots.thoughtbot.com/how-to-lead-better-user-interviews"
            rel="author external noopener">
            {{{content.post.lead-better-user-interviews}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.thoughtbot}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/focusing-on-focus-styles/"
            rel="author external noopener">
            {{{content.post.focusing-focus-styles}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/building-good-download-button/"
            rel="author external noopener">
            {{{content.post.building-a-good-download}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

</dl>

<h2
    id="2017"
    class="heading-beta">
    <time datetime="2017">2017</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.24a11y.com/2017/build-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces/"
            rel="author external noopener">
            {{{content.post.build-cloud-hosted-aws}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.24-a11y}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://www.poynter.org/news/how-accessible-your-website-disabled-consider-doing-audit-find-out/"
            rel="author external noopener">
            {{{content.post.how-accessible-is-your-news}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.poynter}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://cantina.co/consistently-inconsistent-when-the-most-accessible-experience-is-different-for-each-user/"
            rel="author external noopener">
            {{{content.post.consistently-inconsistent}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/aria-spackle-not-rebar/"
            rel="author external noopener">
            {{{content.post.aria-is-spackle-not-rebar}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/keeping-track-letter-spacing-guidelines/"
            rel="author external noopener">
            {{{content.post.letter-spacing}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/equifax-data-breach-credit-freezes-and-beholden-design/"
            rel="author external noopener">
            {{{content.post.equifax}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://superyesmore.com/make-technology-work-for-you-not-the-other-way-around-1c0ead1f34eb5fcad227bd3e9de85244"
            rel="author external noopener">
            {{{content.post.make-technology-work-for-you}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.thitm}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            {{{content.post.speech-css}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/crafting-a-chatbot-people-will-use-part-2/"
            rel="author external noopener">
            {{{content.post.crafting-chatbot-2}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/crafting-a-chatbot-people-will-use-part-1/"
            rel="author external noopener">
            {{{content.post.crafting-chatbot-1}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

</dl>


<h2
    id="2016"
    class="heading-beta">
    <time datetime="2016">2016</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            {{{content.post.svg-high-contrast}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{{content.source.css-tricks}}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/improving-the-user-experience-of-iot-firmware-updates/"
            rel="author external noopener">
            {{{content.post.iot-firmware}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/building-a-better-button-in-css/"
            rel="author external noopener">
            {{{content.post.better-button-css}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/instituting-a-culture-of-accessibility-in-your-organization-part-2/"
            rel="author external noopener">
            {{{content.post.accessibility-culture-2}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/organizational-buy-in-on-responsive-design/"
            rel="author external noopener">
            {{{content.post.responsive-buy-in}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/instituting-a-culture-of-accessibility-in-your-organization/"
            rel="author external noopener">
            {{{content.post.accessibility-culture-1}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            {{{content.post.battery-status}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

</dl>


<h2 class="heading-beta">
    <time datetime="2015">2015</time>
</h2>

<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://{{content.source.cantina}}.co/ill-make-an-exception-just-for-you/"
            rel="author external noopener">
            {{{content.post.exception}}}
        </a>
    </dt>
    <dd class="c-link-list__description">
        {{content.source.cantina}}
    </dd>

</dl>
