<h2 class="heading-beta">
    <time datetime="2018">2018</time>
</h2>

<ul class="c-link-list">

    <li class="c-link-list__item" data-writing-source="css-tricks">
        <a class="c-link-list__link" href="https://css-tricks.com/focusing-on-focus-styles/" rel="author external noopener">
            {{{content.post.focusing-focus-styles}}}
        </a>
    </li>

    <li class="c-link-list__item" data-writing-source="css-tricks">
        <a class="c-link-list__link" href="https://css-tricks.com/building-good-download-button/" rel="author external noopener">
            {{{content.post.building-a-good-download}}}
        </a>
    </li>

</ul>

<h2 class="heading-beta">
    <time datetime="2017">2017</time>
</h2>

<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="24a11y">
        <a
            class="c-link-list__link"
            href="https://www.24a11y.com/2017/build-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces/"
            rel="author external noopener">
            {{{content.post.build-cloud-hosted-aws}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="poynter">
        <a
            class="c-link-list__link"
            href="https://www.poynter.org/news/how-accessible-your-website-disabled-consider-doing-audit-find-out/"
            rel="author external noopener">
            {{{content.post.how-accessible-is-your-news}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/consistently-inconsistent-when-the-most-accessible-experience-is-different-for-each-user/"
            rel="author external noopener">
            {{{content.post.consistently-inconsistent}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/aria-spackle-not-rebar/"
            rel="author external noopener">
            {{{content.post.aria-is-spackle-not-rebar}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/keeping-track-letter-spacing-guidelines/"
            rel="author external noopener">
            {{{content.post.letter-spacing}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/equifax-data-breach-credit-freezes-and-beholden-design/"
            rel="author external noopener">
            {{{content.post.equifax}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="human-in-the-machine">
        <a
            class="c-link-list__link"
            href="https://superyesmore.com/make-technology-work-for-you-not-the-other-way-around-1c0ead1f34eb5fcad227bd3e9de85244"
            rel="author external noopener">
            {{{content.post.make-technology-work-for-you}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            {{{content.post.speech-css}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/crafting-a-chatbot-people-will-use-part-2/"
            rel="author external noopener">
            {{{content.post.crafting-chatbot-2}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/crafting-a-chatbot-people-will-use-part-1/"
            rel="author external noopener">
            {{{content.post.crafting-chatbot-1}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro}}}
        </a>
    </li>

</ul>


<h2 class="heading-beta">
    <time datetime="2016">2016</time>
</h2>

<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            {{{content.post.svg-high-contrast}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/improving-the-user-experience-of-iot-firmware-updates/"
            rel="author external noopener">
            {{{content.post.iot-firmware}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/building-a-better-button-in-css/"
            rel="author external noopener">
            {{{content.post.better-button-css}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-2/"
            rel="author external noopener">
            {{{content.post.accessibility-culture-2}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/organizational-buy-in-on-responsive-design/"
            rel="author external noopener">
            {{{content.post.responsive-buy-in}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/"
            rel="author external noopener">
            {{{content.post.accessibility-culture-1}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            {{{content.post.battery-status}}}
        </a>
    </li>

</ul>


<h2 class="heading-beta">
    <time datetime="2015">2015</time>
</h2>

<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/ill-make-an-exception-just-for-you/"
            rel="author external noopener">
            {{{content.post.exception}}}
        </a>
    </li>

</ul>
