<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/equifax-data-breach-credit-freezes-and-beholden-design/"
            rel="author external noopener">
            {{{content.post.equifax}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            {{{content.post.speech-css}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            {{{content.post.reduced-motion-intro}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            {{{content.post.svg-high-contrast}}}
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            {{{content.post.battery-status}}}
        </a>
    </li>

</ul>
